# Kompilaty i pliki binarne (artefakty budowania)
bin/
obj/
*.exe
*.o
*.obj
*.a
*.lib
*.so
*.dll

# Pliki specyficzne dla Code::Blocks (ustawienia lokalne)
*.layout
*.depend
*.bak
*.bin
*.cbp.bak


# Pliki tymczasowe i logi
*.log
*.tmp

# Artefakty IDE/OS
.DS_Store
.idea/
GK_projekt

!SDL2/lib/*.a
!SDL2/lib/*.lib
!SDL2/bin/*.dll