# Kompilaty i pliki binarne (artefakty budowania)
bin/
obj/
*.exe
*.o
*.obj
*.a
*.lib
*.so
*.dll

# Pliki specyficzne dla Code::Blocks (ustawienia lokalne)
*.layout
*.depend

# Pliki tymczasowe i logi
*.log
*.tmp

!SDL2/lib/*.a
!SDL2/lib/*.lib
!SDL2/bin/*.dll